body {
  margin: 0;
  font-family: -apple-system, B.linkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}

li {
  padding: 0 20px;
  margin-bottom: 10px;
  text-align: center;
}

.dropdown-container {
  align-self: center;
  margin: 0 0 20px 0;
}

.dropdown {
  width: 80px;
  height: 30px;
}

option {
  zoom: 1.1;
}

p {
  text-align: center;
}

.page-item {
  background-color: #fff;
  color: #007bff;
  border: 1px solid #dee2e6;
  padding: 10px 20px;
}

.active {
  background-color: #007bff;
  color: #ffeeff;
}

.models h2 {
  text-align: center;
}

.edit-btn {
  margin: 20px;
  width: 150px;
  align-self: center;
  padding: 10px;
  border-radius: 10px;
}

.searchBar {
  justify-content: center;
  margin: 20px 0;
}
