body {
  margin: 0;
  font-family: -apple-system, B.linkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}

li {
  padding: 0 20px;
  margin-bottom: 10px;
  text-align: center;
}

.dropdown-container {
  align-self: center;
  margin: 0 0 20px 0;
}

.dropdown {
  width: 100px;
  height: calc(1.5em + 0.75rem + 2px);
}

.car-card {
  padding: 18px;
  border: 1px solid #bbb;
}

.car-card:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

.name {
  margin-top: 10px;
}

option {
  zoom: 1.1;
}

.center {
  text-align: center;
}

.page-item {
  background-color: #fff;
  color: #007bff;
  border: 1px solid #dee2e6;
  padding: 10px 20px;
}

.active {
  background-color: #007bff;
  color: #ffeeff;
}

.models h2 {
  text-align: center;
  margin: 20px 0;
}

.searchBar {
  justify-content: center;
  margin: 20px 0;
}
